.footerBottom {
  border-top: 1px solid #F0F2F5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0 26px;
  &-info {
    display: flex;
    align-items: center;
    &-year {
      font-size: 14px;
      color: #737980;
    }
    &-company {
      margin-left: 20px;
      display: flex;
      align-items: center;
      font-size: 14px;
      color: #737980;
      &-img {
        margin-left: 4px;
        margin-top: 4px;
      }
    }
  }

  &-imgs {
      display: flex;
      align-items: center;
    &-social {
      display: flex;
      align-items: center;
     &-a {
       display: flex;
       align-items: center;
       &-img {
         width: 74px;
         margin-right: 20px;
       }
     }
    }

    &-cards {
      display: flex;
      &-item {
        display: flex;
        align-items: center;
        justify-content: center;
          width: 42px;
          height: 28px;
          border: 1px solid #DEE2E6;
          border-radius: 4px;
          margin-right: 6px;
        position: relative;

        &:last-child {
          margin-right: 0;
        }
        &-circle {
          width: 14px;
          height: 14px;
          background-color: #F1173E;
          border-radius: 50%;
          margin-left: 7px;
        }

        &-card {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;


          &-line {
            width: 100%;
            height: 6px;
            background: #00579F;
          }

          &-text {
            font-size: 10px;
            color: #00579F;
          }
        }
      }
    }
  }
}

.col {
  background-color: #F2C57C;
}

.orange {
  background-color: #F2C57C;
  position: absolute;
  left: 1px;
  z-index: -1;
}

.blue {
  background-color: #089ECB;
  position: absolute;
  left: 1px;
  z-index: -1;
}