.arrows {
  &-prev, &-next {
    cursor: pointer;
    z-index: 300;
    position: absolute;
    right: 20px;
    top: calc(100% - 60px);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A0A1A2;
    opacity: 0.9;
    color: #ffff;
  }


  &-prev {
    right: 66px;
  }
}