body {
  margin: 0;
}

body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a, ul , li {
  text-decoration: none;
  list-style-type: none;
  color: #4D4D4D;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: column;
}

.spanArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}